<ion-header [translucent]="true">
  <ion-toolbar class="center">
    <ion-segment
      value="users"
      (ionChange)="onSegmentChanged($event)"
      [(ngModel)]="selectedSegment"
    >
      <ion-segment-button value="users">
        <ion-label>Users</ion-label>
      </ion-segment-button>
      <ion-segment-button value="movies">
        <ion-label>Movie Forums</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tvshows">
        <ion-label>Tv Forums</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Users -->
  <ng-container *ngIf="selectedSegment === 'users'">
    <div class="search-bar">
      <ion-icon name="search"></ion-icon>
      <input
        class="search-input"
        [ngModel]="searchText"
        (ngModelChange)="onSearchChange($event)"
      />
    </div>
    <div *ngIf="userList" class="media-column">
      <div *ngFor="let user of userList">
        <app-community-list [user]="user"></app-community-list>
      </div>
    </div>
  </ng-container>
  <!-- Movie Forums -->
  <ng-container *ngIf="selectedSegment === 'movies'">
    <div *ngIf="forumMovieList" class="media-column">
      <div *ngFor="let forumMovie of forumMovieList">
        <app-forum-list [forum]="forumMovie" [type]="'movies'"></app-forum-list>
      </div>
    </div>
  </ng-container>
  <!-- Tv Shows -->
  <ng-container *ngIf="selectedSegment === 'tvshows'">
    <div *ngIf="forumTvList" class="media-column">
      <div *ngFor="let forumTv of forumTvList">
        <app-forum-list [forum]="forumTv" [type]="'tv'"></app-forum-list>
      </div>
    </div>
  </ng-container>
</ion-content>
