<ion-header [translucent]="true">
  <ion-toolbar class="center">
    <div class="search-bar">
      <ion-icon name="search"></ion-icon>
      <input
        class="search-input"
        [ngModel]="searchText"
        (ngModelChange)="onSearchChange($event)"
      />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="change-chat"></div>
  <div *ngIf="userList" class="media-column">
    <div *ngFor="let user of userList">
      <app-community-list [user]="user"></app-community-list>
    </div>
  </div>
</ion-content>
