<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JV Movies Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Movie Section -->
  <div class="media-segment">
    <p class="title">Movies</p>
    <button (click)="redirectTo('movie')">View More...</button>
  </div>
  <media-row [allMedia]="moviesInfo" [mediaType]="'movie'"></media-row>
  <!-- Tv Shows Section -->
  <div class="media-segment">
    <p class="title">TV Shows</p>
    <button (click)="redirectTo('tv')">View More...</button>
  </div>
  <media-row [allMedia]="tvShowsInfo" [mediaType]="'tv'"></media-row>
</ion-content>
