<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">discover</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Movie Section -->
  <div>
    <h1>Movies</h1>
    <media-row [allMedia]="moviesInfo" [mediaType]="'movie'"></media-row>
    <button>View More...</button>
  </div>
  <!-- Tv Shows Section -->
  <div>
    <h1>TV Shows</h1>
    <media-row [allMedia]="tvShowsInfo" [mediaType]="'tv'"></media-row>
    <button>View More...</button>
  </div>
</ion-content>
