ion-tab-bar {
  --ion-background-color: #016a70;
  --ion-color-primary: #fff;
  --ion-color-medium: #fff;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #fff;
  --ion-color-medium-tint: #fff;
}
