<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover" href="../pages/discover/">
      <!-- <rotten-logo></rotten-logo> -->
      <jv-logo></jv-logo>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats" href="../pages/chats/">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="../pages/profile/">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
