<ion-content [fullscreen]="true">
  <button class="back" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <div class="center profile">
    <div class="profile-view">
      <img class="profilePicture" [src]="userInfo?.profilePicture" />
    </div>
    <p>
      <b>{{ userInfo?.fullName }}</b>
      &nbsp;<a>{{ "@" }}{{ userInfo?.username }}</a>
      <ng-container *ngIf="userInfo?.isCritic === true">
        &nbsp;<ion-icon name="checkmark-circle" color="primary"></ion-icon>
      </ng-container>
    </p>
    <p>
      <ng-container *ngIf="userInfo?.isCritic === true">
        &nbsp;<i>Official Critic</i>
      </ng-container>
    </p>
    <p>{{ userInfo?.bio }}</p>
    <button
      class="button center"
      style="margin-bottom: 10px"
      (click)="goToChat()"
    >
      Send Message
    </button>
  </div>
</ion-content>
