<ion-header [translucent]="true">
  <ion-toolbar class="center" id="top">
    <div class="media-row">
      <button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
      <ng-container *ngIf="type === 'movie'">
        <ion-title>All Movies</ion-title>
      </ng-container>
      <ng-container *ngIf="type === 'tv'">
        <ion-title>All Tv Shows</ion-title>
      </ng-container>
    </div>
    <!-- <div class="search-bar">
      <ion-icon name="search"></ion-icon>
      <input class="search-input" />
    </div> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-list>
    <ion-item>
      <ion-select
        aria-label="Genders"
        placeholder="Genders"
        [multiple]="true"
        *ngIf="type === 'movie'"
        [(ngModel)]="selectedGenders"
        (ionChange)="handleGenderSelection()"
      >
        <div *ngFor="let gender of movieGenders">
          <ion-select-option [value]="gender.id"
            >{{gender.name}}</ion-select-option
          >
        </div>
      </ion-select>
      <ion-select
        aria-label="Genders"
        placeholder="Genders"
        [multiple]="true"
        *ngIf="type === 'tv'"
        [(ngModel)]="selectedGenders"
        (ionChange)="handleGenderSelection()"
      >
        <div *ngFor="let gender of tvGenders">
          <ion-select-option [value]="gender.id"
            >{{gender.name}}</ion-select-option
          >
        </div>
      </ion-select>
    </ion-item>
  </ion-list>

  <media-column [allMedia]="media" [mediaType]="type"></media-column>
  <div class="media-row pagination">
    <button (click)="previousPage()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>
    <h1>{{ page }}</h1>
    <button (click)="nextPage()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>
</ion-content>
