<ion-header [translucent]="true">
  <ion-toolbar class="center">
    <div class="media-row">
      <button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
      <ion-title>All Movies</ion-title>
    </div>
    <div class="search-bar">
      <ion-icon name="search"></ion-icon>
      <input class="search-input" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <media-column [allMedia]="media" [mediaType]="type"></media-column>
</ion-content>
