<ion-content [fullscreen]="true">
  <button class="back" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <div class="gradient">
    <div class="center media-info">
      <img class="bg-poster" [src]="poster" />
      <img class="big-poster" [src]="poster" />
      <h1><b>{{ media?.title }}</b></h1>
      <p>{{ mediaDate }}</p>
      <p>
        <b>About</b>
        {{ media?.description }}
      </p>
    </div>
    <!-- My User Review -->
    <div class="review">
      <div class="center">
        <img class="commun-picture" [src]="myUser?.profilePicture" />
        <div>
          <b>{{ myUser?.fullName }}</b>
          <ng-container *ngIf="myUser?.isCritic === true">
            &nbsp;<ion-icon name="checkmark-circle" color="primary"></ion-icon>
          </ng-container>
          &nbsp;<a>{{ "@" }}{{ myUser?.username }}</a>
        </div>
      </div>
      <ng-container *ngIf="reviewed === true">
        <p>{{ review.content }}</p>
        <div class="rating center">
          <ion-icon
            *ngFor="let _ of getStarArray(review.rating)"
            name="star"
          ></ion-icon>
        </div>
      </ng-container>
      <ng-container *ngIf="reviewed === false">
        <create-review [mediaId]="mediaId" [mediaType]="type"></create-review>
      </ng-container>
    </div>
    <!-- My User Review -->
    <!-- Other Reviews -->
    <ng-container *ngFor="let other of allReviews">
      <ng-container *ngIf="other.userId?._id !== myUser?._id">
        <div class="review">
          <div class="center">
            <ng-container *ngIf="other.userId?.profilePicture === ''">
              <img
                class="commun-picture"
                [src]="'https://static.vecteezy.com/system/resources/thumbnails/008/442/086/small/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg'"
              />
            </ng-container>
            <ng-container *ngIf="other.userId?.profilePicture !== ''">
              <img
                class="commun-picture"
                [src]="other.userId?.profilePicture"
              />
            </ng-container>
            <div>
              <b>{{ other.userId?.fullName }}</b>
              <ng-container *ngIf="other.userId?.isCritic === true">
                &nbsp;<ion-icon
                  name="checkmark-circle"
                  color="primary"
                ></ion-icon>
              </ng-container>
              &nbsp;<a>{{ "@" }}{{ other.userId?.username }}</a>
            </div>
          </div>
          <p>{{ other.content }}</p>
          <div class="rating center">
            <ion-icon
              *ngFor="let _ of getStarArray(other.rating)"
              name="star"
            ></ion-icon>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <!-- Other Reviews -->
  </div>
</ion-content>
