/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.profile {
  margin: 5px;
  padding: 5px;
}
.profilePicture {
  overflow: hidden; // Asegúrate de que cualquier parte de la imagen fuera del contenedor esté oculta
  max-height: 250px;
  width: 250px;
  border-radius: 100%;
  border: gray solid 2px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
input {
  outline: none; // Elimina el resaltado al enfocar
}
.poster {
  height: 200px;
  min-width: 133px;
  border-radius: 25px;
}
.preview {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.preview-list {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* Número de líneas que se mostrarán */
  padding: 5px;
}

.media-row {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}
.media-column {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.media-segment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  overflow-y: auto;
}
.title {
  font-weight: bold;
  font-size: x-large;
}
button {
  background-color: #016a70;
  padding: 10px;
  border-radius: 100px;
  font-weight: bold;
  height: min-content;
}
