/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.stars {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  justify-items: center;
}
.review {
  background-color: white;
  border-top: gray solid 1px;
  border-bottom: gray solid 1px;
  padding: 10px;
}
.input-review {
  background: none;
  color: black;
  width: 100%;
  resize: none;
  border: none;
  outline: none; // Elimina el resaltado al enfocar
}
.back {
  background: none;
  color: #016a70;
  font-size: 18px; /* Tamaño de fuente */
  padding: 10px;
}
.profile {
  margin: 5px;
  padding: 5px;
}
.commun-picture {
  overflow: hidden;
  max-height: 100px;
  width: 100px;
  border-radius: 100%;
  border: gray solid 2px;
}
.community-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: gray solid 1px;
  padding: 10px;
}
.profilePicture {
  overflow: hidden;
  max-height: 250px;
  width: 250px;
  border-radius: 100%;
  border: gray solid 2px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
input {
  outline: none; // Elimina el resaltado al enfocar
}
.media-info {
  padding: 10px;
}
.gradient,
.media-info {
  background-image: linear-gradient(to bottom, transparent, white);
}
.poster {
  height: 200px;
  min-width: 133px;
  border-radius: 25px;
}
.big-poster {
  height: 300px;
  min-width: 200px;
  border-radius: 25px;
}
.bg-poster {
  filter: blur(50px);
  position: absolute;
  width: 200%;
  height: 100%;
  z-index: -10;
}
.preview {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.preview-list {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* Número de líneas que se mostrarán */
  padding: 5px;
}
.media-row {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}
.media-column {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.media-segment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  overflow-y: auto;
}
.title {
  font-weight: bold;
  font-size: x-large;
}
button {
  background-color: #016a70;
  padding: 10px;
  border-radius: 100px;
  font-weight: bold;
  height: min-content;
}
.search-bar {
  background-color: #00000050;
  border-radius: 100px;
  padding: 10px;
  margin: 5px;
  color: #fff;
  ion-icon {
    --ion-color-primary: #fff;
  }
}
.search-input {
  background-color: transparent;
  border: none;
  min-width: 90%;
  max-width: 100%;
}
ion-tab-bar,
ion-toolbar {
  color: #fff;
  --ion-background-color: #016a70;
  --ion-color-primary: #fff;
  --ion-color-medium: #fff;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #fff;
  --ion-color-medium-tint: #fff;
}
.profile-view {
  position: relative;
}
.rating {
  display: flex;
  flex-direction: row;
  ion-icon {
    margin: 10px;
    color: gold;
  }
}
.pagination {
  align-items: center;
  justify-content: space-evenly;
}
