<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="register()" class="container">
    <div class="center">
      <button class="button" expand="full" type="submit">Crear Cuenta</button>
      <p>Tienes cuenta? <a href="../login">Iniciar Sesión</a></p>
    </div>
  </form>
</ion-content>
